<% var title = "TOP"; var description = "トップのdescription"; %> <% include
src/ejs/template/_head %> <% sns = [ {title: 'twitter',link: '#'}, {title:
'facebook',link: '#'}, {title: 'github',link: '#'}, ]; foodList = [{
img:'sashimi',title:'刺身',text:'刺身は魚介類などの食品そのものを味わう料理であり、新鮮で味の良い旬の味を楽しむことができます。'
},
{img:'sushi',title:'寿司',text:'米飯と主に魚介類を組み合わせた日本料理\n海外でも「sushi」で通じます。'
},{
img:'tenpura',title:'天麩羅',text:'魚介類や野菜等の食材を、鶏卵と溶き汁、小麦粉にあわせ、衣とし、油で揚げて調理する日本料理です。'
}]; slider= [{ title:'spring',alt:'春' },{ title:'summer',alt:'夏' },{
title:'autumn',alt:'秋' },{ title:'winter',alt:'冬' },] %>

<header class="l-header u-hidden-sp">
  <div class="p-header">
    <h1 class="p-header__title">
      コバヤシショウゴ<span class="u-mb-20"></span>ポートフォリオ
    </h1>
    <ul class="p-header__snsList">
      <% sns.forEach(function(item){ %>
      <li>
        <a href="<%= item.link %> ">
          <img
            class="p-header__img"
            src="./assets/images/icons/<%= item.title %>.svg"
            alt="<%= item.title %> "
          />
        </a>
      </li>
      <% }) %>
    </ul>
  </div>
</header>

<div class="l-content">
  <div class="p-top">
    <p class="p-top__title font-Logotype js-fadeTitle-view">旅する日本</p>
    <div class="c-scrollDown"></div>
  </div>

  <main class="p-main">
    <section class="p-slider">
      <div class="c-heading">
        <div class="c-heading__info js-blur">
          <h2 class="font-Logotype c-heading__title">日本の食</h2>
          <p class="c-heading__text">
            サンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキスト
          </p>
        </div>
      </div>

      <ul class="slider">
        <% slider.forEach(function(item) { %>
        <li class="slider-item">
          <img
            src="./assets/images/<%= item.title %>.jpg"
            alt="<%= item.alt %> "
          />
        </li>
        <% }) %>
      </ul>
    </section>

    <section class="p-food">
      <div class="p-food__bg">
        <div class="c-scrollDown"></div>
      </div>
      <div class="c-heading">
        <div class="c-heading__info js-blur">
          <h2 class="font-Logotype c-heading__title">日本の食</h2>
        </div>
      </div>

      <ul class="p-food__list">
        <% foodList.forEach(function(item) { %>
        <li>
          <img
            class="p-food__img"
            src="./assets/images/<%= item.img %>.jpg"
            alt="<%= item.title %> "
          />
          <div class="p-food__content">
            <div class="p-food__box js-blur">
              <h3 class="font-Haresora p-food__title"><%= item.title %></h3>
              <p class="p-food__text"><%= item.text %></p>
            </div>
          </div>
        </li>
        <% }) %>
      </ul>
    </section>

    <section class="p-contact">
      <div class="p-contact__bg">
        <div class="c-scrollDown"></div>
      </div>
      <div class="c-heading">
        <div class="c-heading__info js-blur">
          <h2 class="font-Logotype c-heading__title">コンタクト</h2>
        </div>
      </div>
      <div class="p-contact__area">
        <div class="p-contact__map">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1620.6061811156874!2d139.7685028330658!3d35.671772668839715!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x14ff2622524b84c5!2z44Op44Km44Oz44OJ44Kv44Ot44K5IOmKgOW6p--8kuS4geebrg!5e0!3m2!1sja!2sjp!4v1617946966248!5m2!1sja!2sjp"
            width="100%"
            height="100%"
            frameborder="0"
            style="border: 0"
            allowfullscreen=""
            class="googleMap"
          ></iframe>
        </div>
        <div class="p-contact__textBlock js-blur">
          <div>
            <h3 class="p-contact__title">株式会社cleanstyle</h3>
            <p class="p-contact__address">
              〒104-0061 <br />東京都中央区銀座2丁目11
              <br />銀座線銀座駅A13番出口から徒歩3分
            </p>
            <a href="#" class="p-contact__link"> GoogleMapで見る </a>
          </div>
        </div>
      </div>
    </section>
  </main>
</div>

<% include src/ejs/template/_footer %>
