<% var title = "TOP"; var description = "トップのdescription"; %> <% include
src/ejs/template/_head %> <% sns = [ {title: 'twitter',link: '#'}, {title:
'facebook',link: '#'}, {title: 'github',link: '#'}, ]; foodList = [{
img:'sashimi',title:'刺身',text:'素材そのものを味わう料理\n味の良い旬の素材を堪能'
}, {img:'sushi',title:'寿司',text:'新鮮な魚介を酢飯とともに' },{
img:'tenpura',title:'天麩羅',text:'海の幸、山の幸\n素材の味に舌つづみしてください。'
}] %>

<header class="c-header">
  <h1 class="c-header__title">コバヤシショウゴのポートフォリオ</h1>
  <ul class="c-header__snsList">
    <% sns.forEach(function(item){ %>
    <a href="<%= item.link %> ">
      <li>
        <img
          class="c-header__snsList-icon"
          src="./assets/images/icons/<%= item.title %>.svg"
          alt="<%= item.title %> "
        />
      </li>
    </a>
    <% }) %>
  </ul>
</header>

<div class="l-content">
  <div class="p-home">
    <p class="p-home__title font-Logotype js-fadeTitle-view">旅する日本</p>
  </div>
  <main class="p-main">
    <section class="p-point">
      <p>魅力？</p>
    </section>
    <section class="p-point">
      <p>魅力？</p>
    </section>
    <section class="p-point">
      <p>魅力？</p>
    </section>
    <section class="p-point">
      <p>魅力？</p>
    </section>
    <section class="p-point">
      <p>魅力？</p>
    </section>

    <section class="p-food">
      <% foodList.forEach(function(item) { %>
      <div class="p-food__menu">
        <img
          class="p-food__menu-img"
          src="./assets/images/<%= item.img %>.jpg"
          alt="<%= item.title %> "
        />
        <div class="p-food__menu-content">
          <div>
            <h3 class="font-Haresora p-food__menu-content-title">
              <%= item.title %>
            </h3>
            <p class="p-food__menu-content-text"><%= item.text %></p>
          </div>
        </div>
      </div>
      <% }) %>
    </section>

    <section class="p-point">
      <p>魅力？</p>
    </section>
  </main>
</div>

<% include src/ejs/template/_footer %>
